.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18171f;
    color: #fff;
    padding: 4rem 0 0 0;
    min-height: 400px;
}

.content {
    max-width: 500px;
    z-index: 2;
}

.subtitle {
    color: #7a7a7a;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.title strong {
    font-weight: 700;
}

.description {
    font-size: 1rem;
    color: #b0b0b0;
    margin-bottom: 2rem;
}

.shopBtn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shopBtn:hover {
    background-color: #fff;
    color: #18171f;
}

.imageWrapper {
    position: relative;
    width: 406px;
    height: 632px;
    flex-shrink: 0;
    z-index: 1;
}

.image {
    object-fit: contain;
}

/* Адаптация под мобильные */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 2rem 1rem;
        min-height: auto;
    }

    .content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .imageWrapper {
        width: 100%;
        height: 300px!important;
    }
}
