
:root {
    --primary: #242323;
    --secondary: #EDEDED;
    --success: #198754;
    --danger: #FF0000;
    --warning: #FFB547;
    --info: #0dcaf0;
    --light: #FAFAFA;
    --dark: #212529;

    --bg-main: #ffffff;
    --text-main: #242323;
}

.text-primary { color: var(--primary) !important; }
.bg-primary { background-color: var(--primary) !important; }
.border-primary { border-color: var(--primary) !important; }


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #ffffff !important;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: none;
}
.accordion-button:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}
